<div class="activity-container">
    <div class="login-header">
        <a href="#/original" class="login-cancel">
            取消
        </a>
        登录站酷
    </div>
    <div class="login-main login-phone">
        <form id="tel-loginForm" action="http://localhost:8080/#/original" method="get">
            <p class="phone">
                <span>
                    +86
                    <b></b>
                </span><input type="number" placeholder="手机号">
            </p>
            <!-- <p class="drag-wrapper">
        
            </p> -->
            <p class="verify">
                <input type="number" placeholder="请输入验证码">
                <span>获取验证码</span>
            </p>

            <span class="login-msg">
                未注册手机验证后自动登陆；登录即同意
                <a href=""> 《用户协议》 </a>
            </span>

            <input type="button" class="login-btn" value=" 登录"> 

            <span class="login-type-phone">
                密码登陆
            </span>
        </form>
    </div>

    <div class="login-main login-password">
            <form id="pwd-loginForm"  action="http://localhost:8080/#/original"  onsubmit="return toVaild()">
                <p class="username">
                    <input type="number" placeholder="手机号/邮箱">
                </p>
                <p class="password">
                    <input type="password" placeholder="密码长度6-22位">
                </p>

                <input type="button" class="login-btn" value=" 登录"> 

                <span class="login-type-password">
                    短信登陆
                </span>
            </form>
        </div>


    <div class="login-footer">
        社交账号登录
    </div>
</div>