 
@import './modules/job';
@import './modules/activity';
@import './modules/reset';
@import './modules/slideout';
@import './modules/original';

  
body { background: #fff; overflow: hidden; }

div,header,span,body,html,li, ul{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
    color:black;
}
li, ul {
    list-style: none;
}
#panel{ 
    //margin-right: -0.013333rem;
     
}
html, body, #app { height: 100%; }
#panel, #root{ 
    height: 100%; 
    overflow: auto; 
}


@keyframes loading {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}




