.header{
    height:1.466667rem;
    background: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        display: inline-block;
        padding: 0 .266667rem;
        

        img{
            height: .666667rem;
        }
        i{
            margin: 0 .133333rem;
            color: #FFD100;
            font-size: .533333rem;
            font-weight: 600;
        }
        .icon-sanhengxian{
            color: #FFD100;
            font-size: .933333rem;
            position: relative;
            top: -0.186667rem;
        }
        .icon-guanbi{
            color: #FFD100;
            font-size: .733333rem;
        }
    }
    
}

