
.activity-container{
    background:#eee;

    .activity-header{
        height:1.466667rem;
        background: #282828;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            display: inline-block;
            padding: 0 .266667rem;
            img{
                height: .666667rem;
            }
            i{
                margin: 0 .133333rem;
                color: #FFD100;
                font-size: .533333rem;
                font-weight: 600;
            }
            b{
                color: #FFD100;
                font-size: .933333rem;
                line-height: .653333rem;
            }
            // &:first-of-type i {
            //     font-size: 1.333333rem;
            //     position: absolute;
            //     top: 0px;
            //     left: 0px;
            // }
        }
    }
    .mask-search{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1001;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        display: none;
        overflow: hidden;
        .mask-search-head{
            height:1.466667rem;
            background: #282828; 
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: #fff;
            font-size: .506667rem;
            .search-box{
                background-color: #fff;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-radius: .08rem;
                width: 7.466667rem;
                height:.933333rem;
                
                i.activity-sousou{
                    width: .4rem;
                    height: .4rem;
                    color:#999;
                    margin:0 .266667rem;
                    font-size: .4rem;
                }
                span.activity-close{
                    width: .4rem;
                    height: .4rem;
                    color:#999;
                    margin:0 .266667rem;
                    font-size: .4rem;
                }
                input.activity-input{
                    height:.666667rem;
                    width:5.333333rem;
                    font-size: .4rem;
                    border: none;
                    outline:none;
                    color:#333;
                }
                
            }
        }
        .cover{
            width: 100%;
            height:100%;
        }
    }
    .activity-list{
        padding: .266667rem;
        ul{
            li.item{
                margin-bottom: .266667rem;
                background-color: #fff;
                display:flex;
                box-sizing: border-box;
                .activity-picbox{                  
                    width: 50%;
                    min-height: 2.666667rem;                   
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .activity-description{
                    padding: .133333rem .266667rem;
                    p.textbox{
                        font-size: .44rem;
                        color:#333;
                    }
                    p.name{
                        margin-top: .666667rem;
                        font-size: .373333rem;
                        color:#999;
                    }
                    p.toolbar{
                        margin-top: .16rem;
                        color: #999;
                        i{
                            display: inline-block;
                            width: .533333rem;
                            height:.213333rem;
                           &.icon-view{                               
                                font-size: .426667rem;
                            }
                            &.icon-pic{
                                margin-left: .533333rem;
                                font-size: .333333rem;
                            }
                        }
                    }
                }
            }
        }
        .view-more{
            text-align: center;
            color: #666;
            background-color: #fff;
            padding: .293333rem;
            font-size: .426667rem;
        }
    }
    div.load-app{
        img{
            height: 1.666667rem;
            width:100%;
        }
        i{
            margin: 0 .133333rem;
            color: #FFD100;
            font-size: .533333rem;
            font-weight: 600;
        }
        .icon-sanhengxian{
            color: #FFD100;
            font-size: .933333rem;
            position: relative;
            top: -0.186667rem;
        }
        .icon-guanbi{
            color: #FFD100;
            font-size: .733333rem;
        }
    }
    .activity-footer{
        padding: .586667rem .266667rem;
        text-align: center;
        background-color: #f9f9f9;
        color:#999;
        font-size: .506667rem;
        .foot-top{
            padding-bottom: .266667rem;
            border-bottom:.013333rem solid #e5e5e5;           
            &::after{
                content:"";
                display:block;
                clear: both;
            }
            a{
                color:#999;  
            }
            .foot-top-left{
                float: left;               
            }
            .foot-top-right{
                float: right;
            }
        }
        .foot-bottom{
            text-align: center;
            padding-top: .266667rem;
        }
    }

}


