.header{
    height:1.466667rem;
    background: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        display: inline-block;
        padding: 0 .266667rem;
        

        img{
            height: .666667rem;
        }
        i{
            margin: 0 .133333rem;
            color: #FFD100;
            font-size: .533333rem;
            font-weight: 600;
        }
        b{
            color: #FFD100;
            font-size: .933333rem;
            line-height: .653333rem;
        }
        // &:first-of-type i {
        //     font-size: 1.333333rem;
        //     position: absolute;
        //     top: 0px;
        //     left: 0px;
        // }
    }
    
}

