.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 400px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}



#menu{
    background: #282828;
    width: 400px;
    .nav-header{
        height: 160px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        span{
            margin-right: 20px;
            img{
                height: 80px;
                width: 80px;
            }
            color: #858585;
            a{
                color: #FFFFFF;
                font-size: 32px;
            }
        }
        

    }
    .nav-main{
        a{
            display: block;
            height: 80px;
            border-top: 2px solid #373737;
            border-bottom: 2px solid #373737;
            color: #CCCCCC;
            font-size: 32px;
            line-height: 80px;
            padding-left: 140px;
            &.active{
                color: #FFD100;
            }
        }
    }
    
}